.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 15%;
}

.modalHeading {
    font-size: 250%;
    margin-bottom: 1%;
}

.modalPara {
    margin-bottom: 2.5%;
}