.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: grid;
  place-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  color: snow !important;
}

.modalHeading {
  font-size: 1.7rem;
  margin-bottom: 1%;
  /* max-width: 80vw; */
}

.modalPara {
  margin-bottom: 2.5%;
}
