div.trending-books {
  padding: 4.5vh 12vw 0vh 9vw;
}
div.trending-books > h1 {
  margin-left: 10px;
}
div.trending-books-container {
  padding: 0 0vw 7vh 9vw;
}

div.trending-books-container > div {
  margin-top: 4vh;
}

div.trending-books-container > div > h2 {
  letter-spacing: 1px;
  font-size: 1.3em;
}

@media only screen and (max-width: 1100px) {
  div.trending-books {
    padding: 1em 12vw 0vh 18vw;
  }

  div.trending-books-container {
    padding: 0 0vw 7vh 18vw;
  }
}

div.book-directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  gap: 3em;
  justify-items: center;
  margin-top: 30px;
}

@media only screen and (max-width: 700px) {
  div.trending-books {
    padding: 1em 2em 0em 10px;
    margin: auto;
  }
  div.trending-books-container {
    padding: 0em 0em 10em 0;
    margin-left: 10px;
  }
  div.book-directory {
    grid-template-columns: repeat(auto-fit, minmax(104px, 1fr));
  }
}
