env
API/BooksWithGenresSidEdit.csv
API/titles.csv
API/corrmat.csv
API/test_new.txt
API/FinalBooksEdit.csv
API/NewCorMatrix.csv

API/__pycache__
API/venv
API/flaskapi/__pycache__
API/flaskapi/venv
API/site.db

client/node_modules