div.login-register-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 20vh;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  div.login-register-container {
    align-items: center;
    padding: 7vh 3vh;
  }
  div.login-register-container:first-child {
    margin-bottom: 50px;
  }
}
