div.recommended-books {
  padding: 3vh 12vw 7vh 18vw;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header > h1 {
  font-size: 1.5em;
}

.page-header > div {
  width: 25vw;
}

@media only screen and (max-width: 700px) {
  div.recommended-books {
    padding: 2em 2em 6rem 2em;
    margin: auto;
  }
  .page-header > div {
    width: 40vw;
    font-size: 0.75em;
  }
}
