div.recommended-books {
  padding: 4.5vh 12vw 7vh 13vw;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header > div {
  width: 25vw;
}

@media only screen and (max-width: 1000px) {
  div.recommended-books {
    padding: 4vh 12vw 7vh 16vw;
  }
}

@media only screen and (max-width: 700px) {
  div.recommended-books {
    padding: 1em 2em 10em 2em;
    margin: auto;
  }
  .page-header > div {
    width: 40vw;
    font-size: 0.75em;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
