button.custom-button,
button.custom-no-invert {
  min-width: 170px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  transition: 250ms ease all;
}

button.custom-button:hover {
  background-color: var(--bg-primary);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

button.custom-no-invert:hover {
  filter: brightness(0.9) contrast(1.2);
  border: 2px solid transparent;
}

button.small {
  margin-left: auto;
  min-width: initial;
  padding: 0 25px;
  letter-spacing: 0;
  margin-top: 10px;
  height: 30px;
  line-height: 25px;
}

@media only screen and (max-width: 700px) {
  button.small {
    margin-left: inherit;
  }
}
