div.book-directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  gap: 3em;
  justify-items: center;
}
@media screen and (max-width: 700px) {
  div.book-directory {
    grid-template-columns: repeat(auto-fit, minmax(104px, 1fr));
  }
}
