div.user-profile-page {
  padding: 7vh 5vw 7vh 14vw;
}

.user-favorites {
  margin-top: 20px;
}

.user-favorites h1 {
  margin-left: 10px;
  font-size: 1.7em;
}
div.user-page-header {
  display: flex;
  align-items: center;
}
div.alternateText {
  display: flex;
  /* justify-content: center;
  text-align: center;
  align-content: center; */
  margin-top: 2%;
  font-size: 1.5em;
  flex-direction: column;
  bottom: 0;
  flex-wrap: wrap;
}
div.actualQuote {
  display: flex;
  flex-direction: column;
}
p.quote {
  display: flex;
}
p.quoteauthor {
  display: flex;
  max-width: 400px;
  margin-left: 45%;
}
p.userMessage {
  color: #707070;
  font-size: 0.7em;
  /* margin-bottom: 20%; */
  margin-top: 5%;
}
svg {
  position: absolute;
  z-index: 0;
  width: 55vw;
  right: 0;
  /* margin-left: 11%; */
  /* margin-bottom: 40%; */
}
@media only screen and (max-width: 700px) {
  div.user-profile-page {
    padding: 1vh 10vw 10em 10vw;
    padding-top: 3vh;
  }
  div.user-page-header {
    display: initial;
  }
  .user-favorites h1 {
    margin-left: 0;
  }
}
