div.user-profile-page {
  padding: 7vh 5vw 7vh 14vw;
}

.user-favorites {
  margin-top: 30px;
}

.user-favorites h1 {
  font-size: 1.7em;
}
div.user-page-header {
  display: flex;
  align-items: center;
}
div.alternateText {
  display: flex;
  align-items: center;
  margin-top: 2%;
  font-size: 1.3rem;
  flex-direction: column;
  bottom: 0;
  flex-wrap: wrap;
}
div.actualQuote {
  display: flex;
  flex-direction: column;
}
p.quote {
  display: flex;
}
p.quoteauthor {
  align-self: flex-end;
}
p.userMessage {
  color: var(--secondary-text);
  font-size: 0.7em;
}
@media only screen and (max-width: 700px) {
  div.user-profile-page {
    padding: 1vh 10vw 10em 10vw;
    padding-top: 3vh;
  }
  div.user-page-header {
    display: initial;
  }
  .user-favorites h1 {
    margin-left: 0;
  }
}
