.navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 6.5rem;
  background-color: var(--bg-primary);
  overflow: hidden;
  box-shadow: 5px 0px 6px #00000029;
  z-index: 3;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  cursor: default;
}

.nav-link,
.logo-link {
  box-sizing: border-box;
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  color: var(--secondary-text);
  fill: var(--secondary-text);
  text-decoration: none;
  border-left: 2px solid var(--bg-primary);
  cursor: pointer;
  transition: 300ms;
}

.logo-text {
  color: var(--primary-text);
  text-decoration: none;
  transition: 300ms;
}

.logo-text:hover {
  color: var(--secondary-text);
}

.nav-link:not(.user-avatar):hover {
  background: var(--bg-secondary);
  color: var(--primary-color);
  fill: var(--primary-color);
  border-left: 2px solid var(--primary-color);
}
.active {
  background: var(--bg-secondary);
  color: var(--primary-color);
  fill: var(--primary-color) !important;
  border-left: 2px solid var(--primary-color);
}

.logo {
  font-size: 1.5rem;
  margin-bottom: auto;
}

.logo-link {
  flex-direction: row;
  color: var(--primary-text);
}

.nav-link:not(.user-avatar) svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.user-avatar {
  cursor: default;
}

.user-avatar svg {
  width: 2rem;
  cursor: pointer;
  fill: var(--secondary-text);
}

.user-avatar:hover {
  background: none;
  border-left: 2px solid var(--bg-primary);
}

/* Small screens */
@media only screen and (max-width: 700px) {
  .navbar {
    bottom: 0;
    top: initial;
    width: 100vw;
    height: 4rem;
  }

  .active {
    background: var(--bg-secondary);
    color: var(--primary-color);
    fill: var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color);
    border-left: 0;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    padding-top: 10%;
  }

  .user-avatar {
    padding-bottom: 10px;
    padding-top: 0;
  }

  .nav-link:not(.user-avatar):hover {
    border-left: 2px solid var(--bg-primary);
  }
}

@media only screen and (min-width: 700px) {
  .user-username.active {
    background: var(--bg-primary);
    color: var(--primary-color);
    fill: var(--text-primary) !important;
    border-left: 2px solid transparent;
  }
}
