.forgot-password-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center !important;
    align-content: center !important;
    text-align: center !important;
    margin-top: 10%;
    border: yellow;
}

.lockUnlock {
    display: block;
    justify-content: center !important;
    align-content: center !important;
    text-align: center !important;
    height: 5%;
    width: 5%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    h1 {
        display: flex;
        margin-left: 8%;
        margin-right: 8%;
        height: 100px;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 30px !important;
    }

    .forgot-password-container {
        margin-top: 30%;
    }

    .lockUnlock {
        justify-content: center !important;
        align-content: center !important;
        text-align: center !important;
        height: 15%;
        width: 15%;
        margin: auto;
    }
  }