.forgot-password-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center !important;
    align-content: center !important;
    text-align: center !important;
    margin-top: 10%;
    border: yellow;
}

.lockUnlock {
    display: block;
    justify-content: center !important;
    align-content: center !important;
    text-align: center !important;
    height: 5%;
    width: 5%;
    margin: auto;
}

@media screen and (max-width: 700px) {
    h1 {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        height: 100px;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 30px !important;
    }

    .forgot-password-container {
        margin-top: 30%;
    }
  }