img.book-image {
  margin: auto;
  box-shadow: 0px 4px 10px #0000007d;
  max-width: 217px;
  height: 300px;
  max-height: 317px;
  background-color: var(--bg-secondary) !important;
}

img.cover-image {
  max-width: 310px;
  width: 25vw;
  box-shadow: 0px 4px 10px #0000007d;
}

@media screen and (max-width: 1000px) {
  img.book-image {
    max-width: 104px;
  }
  img.cover-image {
    width: 50vw;
    margin: auto;
  }
}
