div.input-div {
  position: relative;
  margin: 45px 0;

  width: 100%;
  position: relative;
  margin: 4rem auto 1rem;
  transition: 500ms;
}

input.form-input {
  background: none;
  background-color: white;
  color: var(--secondary-text);
  font-size: 14px;
  padding: 15px;
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid var(--light-gray);
  margin: 10px 0;
  transition: 300ms ease all;
  font-weight: 500;
}

input.form-input:focus {
  outline: none;
  border: 1px solid var(--secondary-text);
}

label.form-label {
  color: var(--secondary-text);
  font-weight: normal;
  pointer-events: none;
  transition: 300ms ease all;
  position: absolute;
  left: 10px;
  transform: translateY(-2.8rem);
  transform-origin: 0%;
  transition: transform 400ms;
}

div.input-div:focus-within label.form-label,
input.form-input:not(:placeholder-shown) + label.form-label {
  transform: translateY(-5rem);
  opacity: 1;
}
