.book-summary-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25vw 1fr;
  padding: 10vh 15%;
}

.book-image-container {
  justify-self: right;
  margin-top: 20px;
}

div .rating {
  color: var(--primary-text);
  font-size: 1.1em;
  margin: 0;
  margin-right: 10px;
  max-width: 7em;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .book-summary-container {
    grid-template-columns: auto;
    margin-left: 0;
    padding: 10vh 10%;
  }

  .book-image-container {
    margin: auto;
  }
}
